<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <ol>
        <a href="/pizzas">Pizza Orders</a>
      </ol>
    </ul>
  </nav>

  <%= yield %> <!-- jumps to index when it sees this yield and prints whatever is there -->
</body>
</html>